@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0px;
    overflow: hidden
}

:root{
    --height-renders: 95vh;
    --height-separador: 50vh;
    --color-fondo: #2a2828;
    --imagen-back: url('../Galery/tree2.jpg');
    --imagen-lamp2: url('../Galery/lampc2.png');
    --imagen-lamp3: url('../Galery/lampc3.png');
    --imagen-collage1: url('../Galery/collage1.png');
    --imagen-collage2: url('../Galery/collage2.png');
    --imagen-collage3: url('../Galery/collage3.png');
    --imagen-patron1: url('../Galery/patron1.png');
    --imagen-patron2: url('../Galery/patron2.png');
    --up-back:0;
    --fx-e:0px;
    --fy-e:0px;
    --fx-m:0px;
    --fy-m:0px;
    --fx-i:0px;
    --fy-i:0px;
    --fz-i:0px;
}

.modelo-container{
    background-color: rgb(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    overflow: hidden

}

.fondo-media-e{
    width: 100%;
    height: 200vh;
    background: rgb(14,37,76);
    background: linear-gradient(0deg, rgba(14,37,76,1) 1%, rgba(5,148,178,1) 45%, rgba(172,219,229,1) 64%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 85%);
    position: absolute;
    z-index: -1;
    top: 0%;
    transform: translate(var(--fx-e),var(--fy-e));
    perspective: 3px;
    transform-style: preserve-3d;
    overflow: hidden

}

.fondo-media-m{
    width: 0vw;
    height: 0vh;
    /* background-image: var(--imagen-collage1); */
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    bottom: 0%;
    transform: translate(var(--fx-m),var(--fy-m));
    perspective: 2px;
    transform-style: preserve-3d;
    overflow: hidden

}
.fondo-media-i{
    width: 25vw;
    height: 25vh;
    top: 0;
    background-image: var(--imagen-lamp2);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 255, 255, 0);
    transform: translate(var(--fx-i),var(--fy-i));
    transition: 500ms;
    transition-duration: 600ms;
    overflow: hidden

}
.fondo-media-i2{
    width: 25vw;
    height: 25vh;
    top: 0;
    right: 0;
    background-image: var(--imagen-lamp3);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 255, 255, 0);
    transform: translate(var(--fy-m),0);
    transition: 500ms;
    transition-duration: 600ms;
    overflow: hidden

}
.frase{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 4.5vw;
    position: sticky;
}

.modelo{
    width: 100%;
    height: 100%;
    background-color: rgba(186, 14, 160, 0);
    position: fixed;
    bottom: 0%;
    z-index: 2;
}

.base{
    width: 100%;
    height: 60vh;
    position: fixed;
    bottom: 0px;
    background-color: var(--color-fondo);
    z-index: 1;
    transition: 500ms;
    transition-delay: 500ms;
    transition-duration: 600ms; 
    /* cursor: url('punterobasew.png'),auto; */
}

.cursor-base{
    width: var(--sizeB);
    height: var(--sizeB);
    background-color: rgba(61, 9, 218, 0);
    background-image: var(--punterobase);
    position: absolute;
    z-index: 997;
    pointer-events: none;
}

.cursor{
    width: var(--size);
    height: var(--size);
    background-color: red;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.cursor-f {
    width: var(--sizeF);
    height: var(--sizeF);
    background-color: rgba(61, 9, 218, 0);
    background-image: var(--puntero);
    border-radius: 0%;
    position: absolute;
    z-index: 998;
    pointer-events: none;
    /* top: 0;
    left: 0;
    background-size: cover;
    pointer-events: none;
    mix-blend-mode: difference;
    opacity: 1; */
}

